.updateMobile {
    display: none;
}

.update {
    height: 55px;
    font-size: 20px;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    color: #748488;
    background-color: #c9d2d7;
    border-radius: 12px;
}

#updateSize{
    height: 25px;
    width: 25px;
}

.m10{
    margin: 10px;
}

#weather {
    height: 200px;
    width: 200px;
}

.wind,
.cloudy,
.pressure,
.humidity,
.coordinates {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    background-color: #a8afb0;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 20px;
}

.infoName {
    font-weight: bold;
    justify-content: space-between;
}

.favorites {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    color: #78868a;
}

#newCity {
    text-align: right;
    margin: auto 10px;
}

.buttonStyleBezButstrapa {
    background: white;
    border: 0;
    height: 60px;
    width: 60px;
    margin-bottom: auto;
    margin-top: auto;
}

.grid-container {
    max-width: 1080px;
    margin: auto;
    display: grid;
    color: #748488;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
            "city cityDesc"
            "favorites newCity"
            "moreCities moreCities";
}

.moreCities {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 400px 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-areas:
            "cityBlock cityBlock"
            "cityBlock cityBlock"
            "cityBlock cityBlock";
}

.cityBlock {
    position: relative;
    vertical-align: bottom;
}

.delete {
    background: white;
    border: 0;
    height: 60px;
    width: 60px;
}

.icon-weather {
    height: 50px;
    width: 70px;
}


.temperature {
    color: #848484;
    font-size: 40px;
    vertical-align: bottom;
}

.newCityInput {
    font-size: 20px;
    vertical-align: top;
    height: 60px;
    width: 300px;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.name {
    color: #848484;
    font-size: 40px;
    font-weight: bold;
}

.cityText {
    color: #848484;
    font-size: 60px;
    margin: 10px;
}

#temperature{
    color: #848484;
    font-size: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

.cityName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}


.name,
.icon-weather,
.temperature,
.delete {
    margin-top: auto;
    margin-bottom: 0;
}

.heading{
    max-width: 1080px;
    display: flex;
    font-size: 30px;
    color: #848484;
    padding: 0;
    margin:auto;
    text-align: left;
}

@media all and (max-width: 900px) {

    .updateMobile {
        display: inline;
        height: 80px;
        width: 80px;
        background: white;
        border: 0;
        margin: auto 15px;
        float: right;
    }
    .update {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "big-name"
                "data"
                "cityDesc"
                "favorites"
                "add-card"
                "moreCities";
    }

    .newCity {
        display: flex;
        flex-direction: row;
    }

    .newCityInput {
        flex: 1;
    }

    .buttonStyleBezButstrapa {
        flex: none;
        background: white;
        border: 0;
        height: 60px;
        width: 60px;
    }

    .moreCities {
        display: contents;
    }
}

